.cart-body{
    padding: 2.5% 25%;
}

.body-heading{
    margin-bottom: 2.5rem;
}

.cart-item-container{
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2.5rem;
    height: 10rem;
}

.cart-item-container img{
    width: 30%;
    height: 100%;
    margin-right: 1.5%;
}

.cart-item-main-details{
    width: 40%;
    padding:1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-item-main-details h2{
    color: tomato;
}

.cart-item-btns{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart-item-btn-group{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.cart-item-btn-group a{
    background-color: #121212;
    color: white;
    text-align:center;
    padding: 0.4rem 1rem;
}

.cart-item-check-btn{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item-check-btn span{
    margin-right: 0.6rem;
}

.cart-proceed-btn{
    background-color: #121212;
    padding: 0.5rem 1rem;
    float: right;
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 1rem;
}