#customer-header{
	width:100vw;
	height:max-content;
	background-color: #f1faee;
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding:5vh 5vw;
	height:12.5vh;
}


.customer-header-right{
	display:flex;
	justify-content:center;
	align-items:center;
}

.customer-header-right > h2{
	margin-left:1rem;
}

.logout-btn{
	border:none;
	padding:0.5rem 1.25rem;
	margin-left:1rem;
	border-radius: 3px;
}

.cutomer-product-list{
	width:100vw;
	
}