.product-details-container{
    width:100vw;
    padding:2.5% 10%;
}

.customer-product-details{
    width: 100%;
    height: 27.5rem;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 10px;
    padding:2.5%;
}

.customer-product-details-left{
    width:55%;
    height: 100%;
}

.customer-product-details-left img{
    width: 100%;
    height: 100%;
    border:none;
    border-radius: 10px;
}

.customer-product-details-right{
    width:45%;
    padding-left :5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.customer-product-details-right h1{
    margin-bottom: 1.5rem;
}

.customer-product-details-right p{
    margin-bottom: 2rem;
}

.product-details-price{
    color: tomato;
    margin: 1.5rem 0;

}

.product-details-quantity{
    height: 2rem;
    margin: 0.5rem 0;
}

.add-to-cart-btn{
    width: 100%;
    height: 2rem;
    background-color: #181818;
    color: #fafafa;
    border: none;
    border-radius: 3px;
}