.login-body, .signup-body{
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	min-height:100vh;
}

.login-body{
	display:flex
}

.login-left-body{
	width:50%;
	border:1px solid black;
	background-color:pink;
	height:100%;
	
}

.login-form, .signup-form{
	display:flex;
	flex-direction: column;
	justify-content: center	;
	align-items: flex-start;
	width:35%;
	background-color: #c2c5aa;
	padding:5%;
	border-radius: 5px;
}

.form-cell{
	width:100%;
	display:flex;
	flex-direction: column;
	margin-bottom: 2rem;
}

.form-cell h1{
	font-size: 1.75rem;
}

.form-cell-input{
	height:1.75rem;
}

.form-submit-btn{
	width:100%;
	border:none;
	background-color: #582f0e;
	color:#f1f1f1;
	font-size:1.1rem;
	font-family:600;	
	padding:0.5rem 0;
}